.ex1 {
  font-size:16px;
  line-height:50px;
}
.sidebar_fixed {
  position: sticky;
  top: 100px;
}
.col-sm-10 {
  border-left: solid 2px #3c3a3a;
  /* background-color: #CCFFFF; */
}
.sideline {
  border: solid 2px #3c3a3a;
}
.f {
  clear: right;
}
.card-header {
  display: inline-flex;
}
.card-header .name {
  margin-right: 50px;
}
.follow {
  display       : inline-block;
  border-radius : 5%; 
  font-size     : 9pt; 
  text-align    : center;
  cursor        : pointer;
  padding       : 8px 12px;
  background    : #0cd7ff; 
  color         : #ffffff; 
  line-height   : 1em;
  transition    : .3s; 
  border        : 2px solid #666666;
}
.centering_parent {
  text-align: center;
}
.space {
  margin-left: 10px;
}