.ex1 {
  font-size:16px;
  line-height:50px;
}
.sidebar_fixed {
  position: sticky;
  top: 85px;
}
.col-sm-2 {
  border-right: solid 2px #3c3a3a;
  /* background-color: #CCFFFF; */
}
.sideline {
  border: solid 2px #3c3a3a
}